*.mat
*.png
*.zip
*.pyc
__pycache*
*.egg-info*
_IGNORE

welib/airfoils/data/63-214.txt
welib/airfoils/data/63-218.txt
welib/airfoils/data/63-224.txt
welib/airfoils/data/63-235.txt
welib/airfoils/data/AD_1_Cylinder.dat
welib/airfoils/data/AD_1_cylinder.csv
welib/airfoils/data/AD_2_63-235_mod.csv
welib/airfoils/data/AD_2_63-235_mod.dat
welib/airfoils/data/AD_3-63-224_mod.csv
welib/airfoils/data/AD_3_63-224_mod.dat
welib/airfoils/data/AD_4-63-218_mod.csv
welib/airfoils/data/AD_4_63-218_mod.dat
welib/airfoils/data/AD_5_63-214_mod.csv
welib/airfoils/data/AD_5_63-214_mod.dat
welib/airfoils/data/Cylinder1.dat
welib/airfoils/data/Cylinder_coords.txt
welib/airfoils/data/DTU_10MW_RWT_pc.dat
welib/airfoils/clcdmodificationcodes/
welib/airfoils/data/Cylinder1_coords.txt
welib/airfoils/data/Cylinder2.dat
welib/airfoils/data/Cylinder2_coords.txt
welib/airfoils/data/DU21_A17.dat
welib/airfoils/data/DU21_A17_coords.txt
welib/airfoils/data/DU25_A17.dat
welib/airfoils/data/DU25_A17_coords.txt
welib/airfoils/data/DU30_A17.dat
welib/airfoils/data/DU30_A17_coords.txt
welib/airfoils/data/DU35_A17.dat
welib/airfoils/data/DU35_A17_coords.txt
welib/airfoils/data/DU40_A17.dat
welib/airfoils/data/DU40_A17_coords.txt
welib/airfoils/data/NACA64_A17.dat
welib/airfoils/data/NACA64_A17_coords.txt
welib/airfoils/matlab/__tests__/Jabus/
welib/BEM/DWM_main_BEM.py
welib/BEM/TODO.py
welib/theory/FarWakeParameters/
welib/theory/OptimalCirculation/Mathematica/Derivations.nb
welib/theory/OptimalCirculation/Mathematica/GoldStein.nb
welib/theory/OptimalCirculation/Mathematica/GoldSteinP.nb
welib/theory/OptimalCirculation/Mathematica/GoldStein_.nb
welib/theory/OptimalCirculation/Mathematica/WrenchOkulov-MultipleHelix.nb
welib/theory/OptimalCirculation/Mathematica/mx/
welib/theory/OptimalCirculation/v01/codegen/
welib/theory/OptimalTurbine/CylinderSuperpOptimal.nb
welib/theory/OptimalTurbine/wtta1/airfoil.dat

