*.mat
*.png
*.zip
*.pyc
__pycache*
_IGNORE

welib/airfoils/data/63-214.txt
welib/airfoils/data/63-218.txt
welib/airfoils/data/63-224.txt
welib/airfoils/data/63-235.txt
welib/airfoils/data/AD_1_Cylinder.dat
welib/airfoils/data/AD_1_cylinder.csv
welib/airfoils/data/AD_2_63-235_mod.csv
welib/airfoils/data/AD_2_63-235_mod.dat
welib/airfoils/data/AD_3-63-224_mod.csv
welib/airfoils/data/AD_3_63-224_mod.dat
welib/airfoils/data/AD_4-63-218_mod.csv
welib/airfoils/data/AD_4_63-218_mod.dat
welib/airfoils/data/AD_5_63-214_mod.csv
welib/airfoils/data/AD_5_63-214_mod.dat
welib/airfoils/data/Cylinder1.dat
welib/airfoils/data/Cylinder_coords.txt
welib/airfoils/data/DTU_10MW_RWT_pc.dat
